<!doctype html>
<html>
  <head>
    <title>ColorNet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <style type="text/css">
      html, body {
        height: 100%;
      }
      .root-container {
        min-height: 100%;
        position: relative;
        padding-bottom: 6rem;
      }
      footer {
        position: absolute;
        bottom: 0;
        height: 6rem;
        width: 100%;
        text-align: center;
        padding: 1rem;
      }
      footer > a {
        margin-left: 0.2rem;
      }
      footer > a:hover {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="root-container">

      {% block body %}{% endblock %}

      <footer>
        <span>Powered by</span>
        <a href="https://floydhub.com">
          <img src="https://s3-us-west-2.amazonaws.com/floydhub-assets/logo/f_blue_rect_small.png" height=40 width=40/>
          FloydHub
        </a>
      </footer>
    </div>
  </body>
</html>
